@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
body{
  display: flex;
  flex-direction: column;
}

/* NAV BAR */

.navbar-nav li{
  padding: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}

/* BODY */
hr{
  border-top: 2px solid #b4b4b4;
  width: 70%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.display-4{
  font-size: 400%;
}
.data{
  font-size: 18px;
  margin: 0 auto;
}

/* FOOTER */
footer{
    background: #333;
    padding: 0;
    color: #ffffff;
    width: 100%;
    clear: both;
    position: relative;
    margin-top: auto;
}
footer h3{
  margin-top: 1rem;
}
footer p{
  margin-top: 1.4rem;
}
footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 2.2rem;
}
footer ul li{
  list-style: none;
  margin: 0 1em auto;
  color: #ffffff;
}
footer a{
  text-decoration: none;
  color: #ffffff;
}

footer #fb:hover,
footer #gm:hover,
footer #git:hover,
footer #fb:focus,
footer #gm:focus,
footer #git:focus{
  color: crimson;
}
.logo span{
  color: crimson;
  font-weight: 700;
}

@media (max-width: 768px) {
  .logo{
    font-size: 2rem;
  }
  .display-4{
    font-weight: 450;
    font-size: 350%;
  }
  .data{
    font-size: 16px;
  }
  footer ul{
    font-size: 2rem;
  }
  footer ul li{
    margin: 0 .8em auto;
  }
}
@media (max-width: 576px) {
  .logo{
    font-size: 1.5rem;
  }
  .display-4{
    font-weight: 400;
    font-size: 300%;
  }
  .data{
    font-size: 14px;
  }

  footer ul{
    font-size: 1.6rem;
  }
  footer ul li{
    margin: 0 .8em auto;
  }
}
/* Bootstrap solution */
[class*="col-"] {
    padding: 1rem;
}
